body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  margin: 20px;
  height: calc(100vh - 40px);
  overflow: hidden;
}

.image-section {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-section h2 {
  position: absolute;
  top: 10px;
  width: 100%;
}

img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

/* Styles for the buttons in both sections */
.image-section .buttons, #input-section input[type="file"] {
  position: absolute; /* Absolute position the buttons and file input */
  bottom: 10px; /* Position at the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for center alignment */
  display: flex;
  justify-content: center;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
}
