body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Hide overflow at the body level */
}

.container {
  display: flex;
  margin: 20px;
  height: calc(100vh - 40px); /* Adjust height to account for margins */
  overflow: hidden; /* Hide overflow inside the container */
}

.image-section {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow inside each image section */
}

.image-section h2 {
  position: absolute; /* Absolute position the title */
  top: 10px; /* Adjust the position of the title */
  width: 100%;
}

img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.buttons {
  position: absolute; /* Absolute position the buttons */
  bottom: 10px; /* Adjust the position of the buttons */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
}
